<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form" id="edit-post-form">
        <div class="form-floating mb-3">
        <input name="post-title" type="text" placeholder="{{post.title}}" class="form-input w-100" />
        </div>

        <div class="form-floating mb-3">
        <textarea name="content" type="text" placeholder="{{post.content}}" class="form-input w-100" style="height: 100px"/></textarea>
        </div>

        <button type="submit" class="btn-success">Update</button>
        <button type="button" class="delete-post-btn btn-danger">Delete</button>
    </form>
</div>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>